*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav{
    display:flex;
}
.header{
    background-color:white;
}
main{
    width: 100%;
    padding: 20px;
}
.sidebar{
    background: var(--m-lightblue);
    color: #fff;
    height: 100vh;
    width: 60px;
    transition: all 0.5s;
}
.top_section{
    display: flex;
    align-items:center;
    padding:20px 15px;
}
.logo{
    font-size: 30px;
}
.bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
}
.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
}
.link:hover{
    background: #fff;
    color: #000;
    transition: all 0.5s;
}
.active{
    background: #fff;
    color: #000;
}
.icon, .link_text{
    font-size: 20px;
}

/* Responsive */
@media only screen and (max-width:940px){
    .nav{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
        height: 5%;
        display: flex;
    }

    .sidebar > a{
        background-color: var(--m-lightblue);
        align-items: center;
    }
}
